<div class="panel panel-flat">
  <div class="panel-heading">
    <h2>Crear patova boliche</h2>
  </div>
  <div class="panel-body">

    <!-- // pregunta -->
    <div class="form-group">
      <label>Nombre</label>
      <input class="form-control" type="text" name="pregunta" [(ngModel)]="nombre">
    </div>

    <!-- // respuesta -->
    <div class="form-group">
      <label>Apellido</label>
      <input class="form-control" type="text" name="pregunta" [(ngModel)]="apellido">
    </div>
    
    <!-- // respuesta -->
    <div class="form-group">
        <label>Telefono</label>
        <input class="form-control" type="text" name="pregunta" [(ngModel)]="telefono">
      </div> 

      <!-- // respuesta -->
      <div class="form-group">
        <label>DNI</label>
        <input class="form-control" type="text" name="pregunta" [(ngModel)]="dni">
      </div>

    <!-- // pregunta -->
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" type="text" name="pregunta" [(ngModel)]="email">
    </div>

    <!-- // respuesta -->
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="text" name="pregunta" [(ngModel)]="password">
    </div>

    <!-- // respuesta -->
    <div class="form-group">
      <label>Repetir Password</label>
      <input class="form-control" type="text" name="pregunta" [(ngModel)]="repetirpassword">
    </div>

    <button class="bg-grad btn legitRipple" type="button" (click)="crearPatova()">
      Crear patova
    </button>
  </div>

</div>